<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        span: {
            color: #ccc;
        }
    </style>
</head>

<body>
    <h3>Registeration Successful</h3>
    <p>Dear {{lastname}} {{firstname}}, we are pleased to inform you that your registertion to our portal was successful
    </p>
    <a 
    href='/api/v1/auth/login'>
        <button>click here to <span>log in</span></button>
    </a>
</body>

</html>